@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



nav ul {
    text-align: right;
}

nav ul li {
    font-size: 24px;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color:rgb(194, 97, 181);
}

nav ul li a:visited {
    color: dodgerblue;
}

nav ul li a:hover {
    color: blueviolet;  
    background-color: lightskyblue;
}

nav ul li a:active {
    color:rgb(184, 133, 5);
}

#headingcontainer{
    font-family: 'Merriweather', serif;
    width: 700px;
    /* float: left; */
    text-align: center;
    margin: 0 auto;
    overflow: auto;
   border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
    /* padding-left: 200px; */
}

#aboutheading{
    text-align: center;
    padding-right: 300px;
    font-size: 18px;  
}

#homeheading{
    text-align: center;
    font-size: 18px; 
    padding-right: 150px;
}

#aboutmain{
    position: relative;
    margin-top: 100px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Quicksand', sans-serif;
}

#homemain{
    position: relative;
    margin-top: 150px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Quicksand', sans-serif;

}

#contactmain{
    position: relative;
    margin-top: 100px;
    overflow: auto;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
}

#blogmain{
    position: relative;
    margin-top: 100px;
    overflow: auto;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}


#homeimg {
    width: 30%;
    margin: 5px;
    float:right;
}

#aboutimg {
    width: 20%;
    margin: 5px;
    float:right;
}
.projectimg{
    width: 28%;
    margin: 5px;
    padding: 20px;
    /* float:right; */
}

#contactimg{
    width: 15%;
    margin: 5px;
    float: right;
}

#foot{
    position: relative;
    margin-top: 350px;
    overflow: auto;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 20px;
       
}
