@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
body {
    font-family: ;
}

nav ul {
    text-align: right;
}

nav ul li {
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color:dodgerblue;
}

nav ul li a:visited {
    color: dodgerblue;
}

nav ul li a:hover {
    color: orange;  
}

nav ul li a:active {
    color:rgb(184, 133, 5);
}

#headingcontainer{
    width: 600px;
    float: left;
    margin: 0 auto;
    overflow: auto;
    background-color:rgb(234, 240, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

#heading{
    text-align: center;
    font-size: 18px; 
}


main{
    position: relative;
    margin-top: 400px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    padding: 40px;
}

#homeimg {
    width: 40%;
    margin: 5px;
    float:right;
}



#foot{
    position: relative;
    margin-top: 200px;
    overflow: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
}
